.badge-todo { .mix-red-badge("todo");}
.badge-fixme { .mix-red-badge("fixme");}
.badge-deadline { .mix-red-badge("deadline");}
.badge-important { .mix-red-badge("important");}
.badge-urgent { .mix-red-badge("urgent");}
.badge-verify { .mix-yellow-badge("verify");}
.badge-draftcomment { .mix-green-badge("comment")}

.hastyscribe {
  .mix-symbol("H", @text-color, 180%);
  &:before {
    font-family: "HastyScribe";
    font-size: 1.8em;
    margin-right: -2%;
    vertical-align: middle;
  }
}
